In [7]:
# Importing libraries 
    
import pandas as pd
import numpy as np
import os
from openpyxl.workbook import Workbook   #used to save to our Excel sheet
from openpyxl import load_workbook

In [19]:
fileName = '2022-0000 Sample PM Tool.xlsx'
filePath = r'C:\Users\mary\Downloads'
file=os.path.join(filePath,fileName)
df=pd.read_excel(file)

In [20]:
df

,P,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,A:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A: L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Number,Revie Name,Review Type,Review Assignement by RBR Leadership,P-d,B P s,R to A,A sent,B D P,R & D Cont,...,L1 D R A,L1 a DR to L2,L2-DR A,L2 a DR a to L3,L3 D R A,L3 a DR a to SE,D R d to B P,D F R,CC A,U QA F SP list
7,2022-0000,NaN,NaN,2022-01-24 00:00:00,2021-09-28 00:00:00,2021-09-28 00:00:00,2021-09-30 00:00:00,2021-10-13 00:00:00,2021-10-13 00:00:00,2021-10-14 00:00:00,...,2022-03-03 00:00:00,2022-03-04 00:00:00,2022-03-14 00:00:00,2022-03-15 00:00:00,2022-03-23 00:00:00,NaN,2022-03-24 00:00:00,2022-03-29 00:00:00,2022-03-31 00:00:00,2022-04-01 00:00:00
8,2022-1111,NaN,NaN,2022-04-11 00:00:00,2021-12-15 00:00:00,2021-12-15 00:00:00,2021-12-17 00:00:00,2022-01-03 00:00:00,2022-01-03 00:00:00,2022-01-04 00:00:00,...,2022-05-19 00:00:00,2022-05-20 00:00:00,2022-05-31 00:00:00,2022-06-01 00:00:00,2022-06-09 00:00:00,NaN,2022-06-10 00:00:00,2022-06-15 00:00:00,2022-06-17 00:00:00,2022-06-20 00:00:00
9,2021-2222,NaN,NaN,2021-05-10 00:00:00,2021-01-15 00:00:00,2021-01-15 00:00:00,2021-01-19 00:00:00,2021-02-01 00:00:00,2021-02-01 00:00:00,2021-02-02 00:00:00,...,2021-06-18 00:00:00,2021-06-21 00:00:00,2021-06-29 00:00:00,2021-06-30 00:00:00,2021-07-09 00:00:00,NaN,2021-07-12 00:00:00,2021-07-15 00:00:00,2021-07-19 00:00:00,2021-07-20 00:00:00
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Legend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,L1 =,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,L2 =,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,L3 =,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
to_drop = ['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41']
df.drop(columns=to_drop, inplace=True)
print(df)

           P            Unnamed: 7          Unnamed: 12          Unnamed: 15  \
0         A:                   NaN                  NaN                  NaN
1        A: L                  NaN                  NaN                  NaN
2          P:                  NaN                  NaN                  NaN
3         NaN                  NaN                  NaN                  NaN
4         NaN                  NaN                  NaN                  NaN
5         NaN                  NaN                  NaN                  NaN
6      Number              A sent              C pl dis             PM to L1
7   2022-0000  2021-10-13 00:00:00  2021-10-27 00:00:00  2021-11-17 00:00:00
8   2022-1111  2022-01-03 00:00:00  2022-01-17 00:00:00  2022-02-07 00:00:00
9   2021-2222  2021-02-01 00:00:00  2021-02-15 00:00:00  2021-03-08 00:00:00
10        NaN                  NaN                  NaN                  NaN
11        NaN                  NaN                  NaN                  NaN
12        NaN                  NaN                  NaN                  NaN
13        NaN                  NaN                  NaN                  NaN
14        NaN                  NaN                  NaN                  NaN
15     Legend                  NaN                  NaN                  NaN
16     L1  =                   NaN                  NaN                  NaN
17       L2 =                  NaN                  NaN                  NaN
18      L3 =                   NaN                  NaN                  NaN

            Unnamed: 18          Unnamed: 25          Unnamed: 26  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6                PM F A                E S D                E E D
7   2021-12-08 00:00:00  2022-01-24 00:00:00  2022-01-28 00:00:00
8   2022-02-25 00:00:00  2022-04-11 00:00:00  2022-04-15 00:00:00
9   2021-03-26 00:00:00  2021-05-10 00:00:00  2021-05-14 00:00:00
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN

            Unnamed: 27          Unnamed: 29          Unnamed: 31  \
0                   NaN                  NaN                  NaN
1                   NaN                  NaN                  NaN
2                   NaN                  NaN                  NaN
3                   NaN                  NaN                  NaN
4                   NaN                  NaN                  NaN
5                   NaN                  NaN                  NaN
6          F WP and P F                E C C             DR to L1
7   2022-02-07 00:00:00  2022-02-18 00:00:00  2022-02-23 00:00:00
8   2022-04-25 00:00:00  2022-05-06 00:00:00  2022-05-11 00:00:00
9   2021-05-24 00:00:00  2021-06-07 00:00:00  2021-06-10 00:00:00
10                  NaN                  NaN                  NaN
11                  NaN                  NaN                  NaN
12                  NaN                  NaN                  NaN
13                  NaN                  NaN                  NaN
14                  NaN                  NaN                  NaN
15                  NaN                  NaN                  NaN
16                  NaN                  NaN                  NaN
17                  NaN                  NaN                  NaN
18                  NaN                  NaN                  NaN

            Unnamed: 38
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
5                   NaN
6          D R d to B P
7   2022-03-24 00:00:00
8   2022-06-10 00:00:00
9   2021-07-12 00:00:00
10                  NaN
11                  NaN
12                  NaN
13                  NaN
14                  NaN
15                  NaN
16                  NaN
17                  NaN
18                  NaN

In [22]:
df.drop([0,1,2,3,4,5,10,11,12,13,14,15,16,17,18])

,P,Unnamed: 7,Unnamed: 12,Unnamed: 15,Unnamed: 18,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29,Unnamed: 31,Unnamed: 38
6,Number,A sent,C pl dis,PM to L1,PM F A,E S D,E E D,F WP and P F,E C C,DR to L1,D R d to B P
7,2022-0000,2021-10-13 00:00:00,2021-10-27 00:00:00,2021-11-17 00:00:00,2021-12-08 00:00:00,2022-01-24 00:00:00,2022-01-28 00:00:00,2022-02-07 00:00:00,2022-02-18 00:00:00,2022-02-23 00:00:00,2022-03-24 00:00:00
8,2022-1111,2022-01-03 00:00:00,2022-01-17 00:00:00,2022-02-07 00:00:00,2022-02-25 00:00:00,2022-04-11 00:00:00,2022-04-15 00:00:00,2022-04-25 00:00:00,2022-05-06 00:00:00,2022-05-11 00:00:00,2022-06-10 00:00:00
9,2021-2222,2021-02-01 00:00:00,2021-02-15 00:00:00,2021-03-08 00:00:00,2021-03-26 00:00:00,2021-05-10 00:00:00,2021-05-14 00:00:00,2021-05-24 00:00:00,2021-06-07 00:00:00,2021-06-10 00:00:00,2021-07-12 00:00:00

In [ ]:
df=df[df['P']!='Number']  #get rid of first row

df=df[~pd.isnull(df['P'])]  #drop null rows

In [ ]:
df=df.loc[:,['ColumnA','ColumnB']]  #only keep specific columns

In [ ]:
wb = Workbook()
ws = wb.active
ws1 = wb.create_sheet('January', 0)
ws2 = wb.create_sheet('February', 1)
ws3 = wb.create_sheet('March', 2)
ws4 = wb.create_sheet('April', 3)
ws5 = wb.create_sheet('May', 4)
ws6 = wb.create_sheet('June', 5)
ws7 = wb.create_sheet('July', 6)
ws8 = wb.create_sheet('August',7 )
ws9 = wb.create_sheet('September', 8)
ws10 = wb.create_sheet('October', 9)
ws11 = wb.create_sheet('November' 10)
ws12 = wb.create_sheet('December' 11)

wb2 = load_workbook('2022-0000 Sample PM Tool.xlsx')
new_sheet = wb2.create_sheet('NewSheet')
active_sheet = wb2.active